{% load static %}

<DOCTYPE HTML>

<html>
    <head>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" href="{% static 'index/css/movieStyle.css' %}">
        <script src="{% static 'index/js/script.js' %}"></script>
        {% comment %} <script src="{% static 'index/js/hls.js' %}"></script> {% endcomment %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hls.js/8.0.0-beta.3/hls.min.js"></script>        
    </head>

    <body>        
        <header class="movie_header">
            <div class="movie_header--access">
                <img class="movie_header--menu" src="../../static/index/images/menu.svg" alt="">
                <img class="movie_header--logo" src="../../static/index/images/IMDB_Logo_2016.svg" alt="Logo">
            </div>
            <div class="movie_header--search">
                <button class="btn movie_header--search_button">
                    <img src="../../static/index/images/search.svg" alt="">
                </button>
                <input
                  type="text"
                  class="movie_header--search--input"
                  placeholder="Search what the fuck you whant :)"
                />
              </div>
              <button class="btn btn movie_header--sign_in_button">sign in</button>
        </header>
        <main class="movie_main">            
            <section class="movie_main--video">
                <video id="video" controls></video>
                <div class="movie_main--make">
                    <!-- <h2>Movie Name</h2> -->
                    <h1>{{ movie.title }}</h1>
                    <h2 class="movie_main--director--header">Produced by</h2>
                    <p class="movie_main--director--caption">{{ movie.director }}</p>
                    <h2 class="movie_main--cast--header">Cast</h2>
                    <p class="movie_main--cast--caption">{{ movie.actors }}</p>
                    <h2>IMDB</h2>
                    <h3>{{ movie.imdb_rating }}</h3>
                </div>
            </section>
            <section class="movie_main--Summary">
                <img src="../../static/index/images/posters/{{ movie.title }}.jpg" alt="{{ movie.title }}">
                <p class="movie_main--Summary--text">{{ movie.plot }}</p>
                <div class="movie_main--Summary--award">
                    <h2>Language</h2>
                    <p>{{ movie.language}}</p>
                    <h2>Realese date</h2>
                    <p>{{ movie.released }}</p>
                    <h2>Box Office</h2>
                    <p>{{ movie.box_office }}</p>
                    <h2>Genre</h2>
                    <p>{{ movie.genre }}</p>
                </div>
            </section>

              <script>
                var video = document.getElementById('video');
                {% if movie.id == 5 %}
                var videoSrc = "https://keivanipchihagh.arvanvod.com/7Wd1RQN2zZ/1a0L5lyGMV/h_,144_200,240_400,360_490,k.mp4.list/master.m3u8";
                {% else %}
                var videoSrc = "https://keivanipchihagh.arvanvod.com/7Wd1RQN2zZ/mQB9KY05kl/h_,144_200,240_400,360_470,k.mp4.list/master.m3u8";
                {% endif %}
                if (Hls.isSupported()) {
                  var hls = new Hls({
                    debug: true,
                  });
                  hls.loadSource(videoSrc);
                  hls.attachMedia(video);
                  hls.on(Hls.Events.MEDIA_ATTACHED, function () {
                    video.muted = true;
                    video.play();
                  });
                }
                // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
                // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element through the `src` property.
                // This is using the built-in support of the plain video element, without using hls.js.
                else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                  video.src = videoSrc;
                  video.addEventListener('canplay', function () {
                    video.play();
                  });
                }
              </script>
              
        </main>
    </body>
</html>