<!doctype html>
<html>
    <head>
        <title>Dash.js Rocks</title>
        <style>
            video {
                width: 640px;
                height: 360px;
            }
        </style>
    </head>
    <body>
        <div>
            <video id="videoPlayer" controls></video>
        </div>
        <script src="http://cdn.dashjs.org/latest/dash.all.min.js"></script>
        <script>
            (function(){
                var url = "https://keivanipchihagh.arvanvod.com/7Wd1RQN2zZ/nWVOLZMZx2/h_,108_200,180_400,272_545,362_545,k.mp4.list/manifest.mpd";
                var player = dashjs.MediaPlayer().create();
                player.initialize(document.querySelector("#videoPlayer"), url, true);
            })();
        </script>
    </body>
</html>