.IMDB_header {
    /* height: 30px; */
    background-color: #181818;
    padding: 15px 45px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.IMDB_header--logo {
    height: 30px;
    margin-left: 10px;
}

.IMDB_header--search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    margin: 0;
    margin-right: 4rem;
    height: 30px;
}

.IMDB_header--search_button {
    height: 30px;
    padding: 0 6px;
}

.IMDB_header--sign_in_button {
    height: 30px;
    padding: 6px;
    display: flex;
    align-items: center;
    color: #fff;
}

.IMDB_header--search--input {
    width: 60ch;
    border: none;
}

.IMDB_header--search--input:focus {
    outline: 0;
}

.IMDB_main {
    display: flex;
    flex-direction: column;
    padding: 0 45px;
    height: 90%;
}

.IMDB_main--films {
    margin: auto;
}

.IMDB_main--films--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0;
    float: left;
}

.IMDB_main--films--item--img:hover {
    transform: scale(1.5);
}

.IMDB_main--films--caption h3 {
    font-weight: bold;
    color: rgb(245, 197, 24);
}

.IMDB_main--films--item img {
    height: 350px;
    width: 200px;
    margin-right: 25px;
}

@media screen and (max-width: 1024px) {
    .IMDB_header--search--input {
        width: 30ch;
    }
}

@media screen and (max-width: 1248px) {
    .IMDB_header--search--input {
        width: 45ch;
    }

    .IMDB_header--access {
        margin-left: 70px;
    }

    .IMDB_header--sign_in_button {
        margin-right: 70px;
    }
}

@media screen and (max-width: 960px) {
    .IMDB_header--search--input {
        width: 20ch; 
    }
    .IMDB_header--search {
        margin: 0;
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }